{% extends 'base.html.twig' %}

{% block title %}Créer une Sortie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une Sortie</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" name="action" value="enregistrer" class="btn btn-primary">Enregistrer</button>
        <button type="submit" name="action" value="publier" class="btn btn-success">Publier</button>
        <button class="btn btn-primary">Annuler</button>
        {{ form_end(form) }}

    </div>
{% endblock %}