{% extends 'base.html.twig' %}

{% block title %}Accueil Sortie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue sur la page Sortie</h1>
        <p>Ce message provient de :</p>
        <ul>
            <li>Ton contrôleur : <code>src/Controller/SortieController.php</code></li>
            <li>Ton template : <code>templates/sortie/index.html.twig</code></li>
        </ul>

        <a href="{{ path('sortie_create') }}" class="btn btn-success mt-3">Créer une nouvelle Sortie</a>
    </div>
{% endblock %}
