{% extends 'base.html.twig' %}

{% block title %}Toutes les villes | BougeTonCrew{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ville.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block body %}
    <div class="container">
    <div class="page-header">
    <h1 class="page-title">Toutes les villes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Code postal</th>
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
            </tr>
        {% else %}
            <tr><td colspan="2">Aucune ville enregistrée.</td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
        <a href="{{ path('ville_ajouter') }}" class="btn-create">
            <i class="fas fa-plus"></i>
            Créer une ville
        </a>
        </div>
        </div>
    {% endif %}


{% endblock %}
